body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./assets/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-attachment: fixed;
    scroll-padding-top: 150px;


}
header {
    background-color: #326b18b5;
    color: white;
    padding: 5px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.3s ease; 
}

.header-links {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.header-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.header-links a:hover {
    text-decoration: underline;
}
.content-box {
    position: relative;
    background-color: rgba(248, 248, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    max-width: 600px;
    
    

}
.container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px; 
    margin-top: 200px;
}
.container-img {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; 
    margin-top: 100px;
}


.footer {
    background-color: #326b18b5;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.image-gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .content-box {
        margin: 10px;
        padding: 15px;
        max-width: 90%;
    }
    .header-links {
        flex-direction: column;
    }
    .header-links a {
        margin: 5px 0;
    }
    .container {
        margin-top: 250px;
    }
    .image-gallery img {
        height: 200px;
    
    }
}